{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>

	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />

    <!-- Custom js & css
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" /> -->
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock extra_head%}
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container container-fluid mt-4 mb-4">
    {% block body %}

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div>
      <strong>Menu:</strong>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
        <li><a href="{% url 'accounts:logout' %}">Sign Out</a></li>
        {% else %}
        <li><a href="{% url 'accounts:login' %}">Sign In</a></li>
        <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
    {% block content %}
    {% endblock %}
    {% endblock body %}
    </div>
    {% block extra_body %}
    {% endblock %}
    <footer class="text-center text-white fixed-bottom mt-auto py-3 bg-dark">
      <div class="container">
        <span class="text-muted">&copy; TEAM - YEAR - YOUR_COMPANY</span>
      </div>
    </footer>
  <!-- Javascript-->
  <script src="{% static 'scripts/bootstrap.min.js' %}"></script>
  {% block scripts %}{% endblock %}
  </body>
</html>